/* Ini File CSS */
header{
    text-align: center;
    background-color: #1A5319;
    color: #FEF2F4;
    padding: 5px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#B2C9AD;
}

input[type=number]{
    width: 100%;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.form-grup{
    padding-bottom: 16px;
}

.form-group{
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.introduction, .form, .feature, .result {
    max-width: 700px;
    margin: 15px auto; 
    padding: 20px 40px 20px 40px;
    background: #D6EFD8;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"] {
    background-color: #1A5319;
    color: #f7f7f7;
    margin-right: 10px;
}

button[type="reset"] {
    background-color: #B2C9AD;
    color: #000000;
}

button:hover {
    background: #b2c0cf;
    color: #000000;
}

footer {
    background-color: #1A5319; 
    color: #FEF2F4; 
    text-align: center;
    padding: 10px 0; 
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
}
