/* Ini File CSS */
header{
    text-align: center;
    background-color: #E78895;
    color: #FFE3E3;
    padding: 5px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#FFCCCC;
}

input[type=number]{
    width: 100%;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

h4{
    margin: 10px;
}

.form-grup{
    padding-bottom: 16px;
}

.form-group{
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.introduction, .form, .feature, .result {
    max-width: 600px;
    margin: 15px auto; 
    padding: 20px 40px 20px 40px;
    background: #FFE3E3;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"] {
    background-color: #E78895;
    color: #f7f7f7;
    margin-right: 10px;
}

button[type="reset"] {
    background-color: #c0b9c0;
    color: #000000;
}

.button2{
    display: none;
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #E78895;
    color: #FFE3E3;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.button2:hover {
    background: #b2c0cf;
    color: #000000;
}

button:hover {
    background: #b2c0cf;
    color: #000000;
}

#result {
    display: none;
}

.result{
    text-align: center;
}

.status{
    margin: 15px auto; 
    padding: 20px 40px 20px 40px;
    background-color: #FFEFEF;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.van, .note{
    text-align: left ;
}

.content{
    margin: 15px auto; 
    padding: 20px 40px 20px 40px;
    background-color: #FFEFEF;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.no-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer {
    background-color: #E78895; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FEF2F4; 
    text-align: center;
    padding: 10px 0; 
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
}